html{
    padding: 0;
  }

body {
  background: #F5F5F5;
  padding: 0;
}

nav{
  width: 100%;
  height: 100px;
  background: white;
  margin-bottom:30px;
  border: solid #DFDFDF 1px;
}

.topnav {
  height: 48px;
  border-bottom: solid #DFDFDF 1px;}

.bottomnav {
    height: 48px;
    }

.logo {
  height: 50px;
  width: auto;
  float: left;
}
.search {
  height: 30px;
  width: 80%;
  margin: 10px;
  float: left;
  border: solid #DFDFDF 1px;
}

.search-img {
  height: 30px;
  width: auto;
  float: left;
}
.topnav p {
  position: relative;
  top: -5px;
  color: #A9A9A9;
}

#nofloat {

}
.bottomnav p {
  height: 60%;
  width: 10%;
  text-align: center;
  float: left;
  position: relative;
  top: -10px;
  color: #A9A9A9;
}

.bottomnav div {
  height: 60%;
  width: 15%;
  text-align: center;
  float: left;
  position: relative;
  top: 6px;
  color: #A9A9A9;

}

.login {
  float:right;
  margin-right: 10px
}

.suscribe img {
  float:left;
  border: solid black 1px;
}
.suscribe h1, .suscribe p {
  font-size: 16px;
    border: solid black 1px;
    width: 20%;
    height: 30px;
    float: left;
}
#suscribe-button{
  background:#e54e05;
  color: white;
  text-align: center;
  padding:4px;
  height: 24px;
  border-radius: 4px;
  float: right;
  position: relative;
  right: 10px;
}
.suscribe-button:hover {
  background: #fa580a;
}

.popular{
  height: 30px;
  border-bottom: solid #DFDFDF 1px;
}

.popular-day{
  height: 30px;
  border-bottom: solid #DFDFDF 1px;
}

.small-container {
  height: 100px;
  border-bottom: solid #DFDFDF 1px;
}
//css for computer screen
@media (min-width : 1200px){
  .nav-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 100px;
  }

  .main-container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 1000px;
  }

  .suscribe {
    height: 60px;
    border: solid black 1px;
    margin-bottom: 30px;
    background: white;
  }

  .container {
    //Remove the height later
  }

  .left-container {
    width: 70%;
    margin: 5px;
    float: left;

  }

  .right-container {
    width:25%;
    height: 690px;
    margin: 5px;
    border: solid black 1px;
    float: right;
  }
.kittibot, .live-chat, .tweets {
  //Remove later
  height: 200px;
  border: solid #DFDFDF 1px;

}

.today, .week {
  //Remove later

  border: solid #DFDFDF 1px;
  background: white;

}
.day{
  margin-top: 20px;
  background: white;
}
}
//Intermediate
@media (min-width : 860px ) and (max-width : 1200px){
  .nav-container {
    width: 100%px;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 100px;

  }
  .main-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 1000px;
    background: white;
  }

  .suscribe {
    height: 60px;
    border: solid black 1px;
    margin-bottom: 30px;
  }

  .container {
    //Remove the height later
    height: 700px;
    border: solid black 1px;
  }

  .left-container {
    width: 100%;
    height: 690px;
    margin: 5px;
    border: solid black 1px;
    float: left;
  }

  .right-container {
    display: none;
    width:25%;
    height: 690px;
    margin: 5px;
    border: solid black 1px;
    float: right;
  }
.kittibot, .live-chat, .tweets {
  //Remove later
  height: 200px;
  border: solid black 1px;

}

.today, .week {
  //Remove later

  border: solid black 1px;
}
}

//Small
@media (min-width : 750px ) and (max-width : 860px){
  .nav-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 100px;
    border: solid black 1px;
  }
  .search {
    height: 50px;
    width: 80%;
    margin: 10px;
    float: left;
    border: none;
  }
  .login {
    display: none;
  }


  .main-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 1000px;
    background: white;
  }

  .suscribe {
    height: 100px;
    border: solid black 1px;
    margin-bottom: 30px;
  }

  .container {
    //Remove the height later
    height: 700px;
    border: solid black 1px;
  }

  .left-container {
    width: 100%;
    height: 690px;
    margin: 5px;
    border: solid black 1px;
    float: left;
  }

  .right-container {
    display: none;
    width:25%;
    height: 690px;
    margin: 5px;
    border: solid black 1px;
    float: right;
  }
.kittibot, .live-chat, .tweets {
  //Remove later
  height: 200px;
  border: solid black 1px;

}

.today, .week {
  //Remove later
  height: 290px;
  border: solid black 1px;
}
}
//Very Small
@media (min-width :0px ) and (max-width : 750px){
  .nav-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 100px;
    border: solid black 1px;
  }
  .search {
    height: 50px;
    width: 80%;
    margin: 10px;
    float: left;
    border: none;
  }

  .login {
    display: none;
  }
  .main-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //!\ Remember to remove height
    height: 1000px;
    background: white;
  }

  .suscribe {
    display: none;
    height: 100px;
    border: solid black 1px;
    margin-bottom: 30px;
  }

  .container {
    //Remove the height later
    height: 700px;
    border: solid black 1px;
  }

  .left-container {
    width: 100%;
    height: 690px;
    margin: 5px;
    border: solid black 1px;
    float: left;
  }

  .right-container {
    display: none;
    width:25%;
    height: 690px;
    margin: 5px;
    border: solid black 1px;
    float: right;
  }
.kittibot, .live-chat, .tweets {
  //Remove later
  height: 200px;
  border: solid black 1px;

}

.today, .week {
  //Remove later
  height: 290px;
  border: solid black 1px;
}

}
